.click-btn {
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: center;
  align-items: center;

  line-height: 35px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}

.btn-style905 {
  position: relative;
  background-color: #cf9e0a;
  border-width: 5px;
  border-color: #cf9e0a;
  color: #fff;
  box-sizing: border-box;
}

.btn-style905::before {
  width: 109%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  border: 1px solid #cf9e0a;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
  transform-origin: center center;
  transition: all 0.25s;
  content: "";
}
.btn-style905:hover {
  background-color: #cf9e0a;
  border-color: #cf9e0a;
  border-style: inset;
  border-radius: 20px;
}
.btn-style905:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
